// GENERAL PROJECT STYLES

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 
a{
    text-decoration: none;
}

h2{
    margin:0;
}

p{
    margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.inter{
    font-family: 'Inter', sans-serif;
}
.block-link{
    display:block;
    cursor:pointer;
}
button{
    border:none;
    background: none;
}

.user{
    cursor:pointer;
    &__image{
        width:48px;
        height:48px;
    }
    &__image-small{
        width: 24px;
        height:24px;
    }
}

input::placeholder{
    font-size:14px;
    font-weight:500;
    line-height:17px;
    font-family: 'Inter', sans-serif;
}
input:hover{
    cursor: pointer;
}
input{
    outline: none;
}

body{
    font-family: 'Inter', sans-serif;
}