.red-button{
    background:#E30016;
    color:#fff;
    font-weight:500;
    font-size:14px;
    line-height:17px;
    font-family: 'Inter', sans-serif;
     padding: 14px 42px;
     border-radius: 8px;
  }
  .red-button:hover{
    background-color: #841F1C;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .red-button-active{
        background-color: #D20317;
        box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.09);
        color:#fff;
        font-weight:500;
        font-size:14px;
        line-height:17px;
        font-family: 'Inter', sans-serif;
        padding: 14px 42px;
        border-radius: 8px;
  }
  .red-button-inactive{
        background-color: #ACACAC;
        font-weight:500;
        font-size:14px;
        line-height:17px;
        font-family: 'Inter', sans-serif;
        padding: 14px 42px;
        border-radius: 8px;
        color:#6F6F6F;
  }
  .red-button-icon{
    display:flex;
   background-color:#E30016;
   color:#fff;
    font-weight:500;
    font-size:14px;
    line-height:17px;
    font-family: 'Inter', sans-serif;
     padding: 14px 24px;
     border-radius: 8px;   
  }
  
  .add-icon{
      margin-left: 10px;
  }

  .drop-menu-button{
      position: relative;
      display: flex;
      &__btn{
          display:flex;
      }
      &__text{
        background: #E30016;
        color:#fff;
        padding: 14px 24px;
        border-radius: 8px 0px 0px 8px;
        font-weight:500;
        font-size:14px;
        line-height:17px;
        font-family: 'Inter', sans-serif;
        padding: 14px 24px;
      }
      &__text:hover{
          background-color:  #841F1C;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.05);
      }
      &__add-block{
        background: #C60C1E;
        border-radius: 0px 8px 8px 0px;
        padding:10.5px 14px;
      }
      &__add-block:hover{
        background-color:  #841F1C;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.05);
      }
      &__menu{
          position: absolute;
          top:45px;
          left:165px;
          display: flex;
          flex-direction: column;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.1);
          border-radius: 5px;    
      }
      &__menu:after,
      &__menu:before {
          content: '';
          position: absolute;
          top: -8px;
          border-bottom: 8px solid;
          display: block;
          width: 0;
          height: 0;
      }
      &__menu:after {
          border-color: #fff;
          left: 13px;
          border-left: 7px solid transparent !important;
          border-right: 7px solid transparent !important;
      }
      &__menu:before {
          margin-bottom: -1px;
          border-color: #ccc;
          color: #ccc;
          left: 12px;
          border-left: 8px solid transparent !important;
          border-right: 8px solid transparent !important;
      }









      &__menu-item{
          padding-top:14px;
          padding-bottom:16px;
          padding-left:16px;
          padding-right:16px;
          border-top:0.5px solid #E1E1E1;
          font-weight:500;
      }
      &__menu-item:nth-of-type(1){
       border:none;
     
      }
      &__menu-item:hover{
          background-color:#F4F4F4;
          border-radius: 0px 0px 5px 5px;
          cursor:pointer;    
      }
  }

  .white-button{
    width:118px;
    border: 1px solid #EBEBEB;
    font-weight: 500;
    font-size: 14px;
    color: #1E1E1E;
    padding:14px 16px;
    border-radius: 8px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .white-button:hover{
    border: 1px solid #C6C6C6;
box-shadow:0px 1px 1px rgba(0, 0, 0, 0.3);

  }