.pop-up{
    position: relative;
    max-width: 413px;
    height:169px;
    background-color: #fff;
    padding:29px 16px 32px 35px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    &__text{
        text-align: center;
        font-weight:400;
        font-size:14px;
        line-height:21px;
        max-width:310px ;
        padding-left: 25px;
    }
    &__buttons{
        display:flex;
        margin-top:20px;
    }
    &__del-button{
        background-color: #E30016;
        color:#fff;
        border-radius: 8px;
        padding: 14px 24px;
        display:flex;
        margin-right:8px;
        justify-content: center;
        width: 216px;
        font-size:14px;
        font-weight:500;
    }
    &__close-button{
        position:absolute;
        right:15px;
        top:14px;
        cursor:pointer;
    }
}

.cancel-button{
    display:flex;
    justify-content: center;
    align-items: center;
    width:117px;
    height:46px;
    background-color: #fff;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size:14px;
    font-weight:500;
  
}

