.tabs {
    display: inline-flex;
    background-color: #EAEAEA;
    height: 46px;
    align-items: center;
    border-radius: 10px;
    padding: 4px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;

    }

    &__item:hover {
        background: #E1E1E1;
    }

    &__item:active {
        background-color: #fff;
    }
}