.task-search {
    &__searcher {
        max-width: 715px;
        width: 100%;
        height: 46px;
        padding: 4px 16px 4px 4px;
        padding-left: 180px;
        border: 1px solid #E1E1E1;
        border-radius: 10px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    }

    &__form {
        position: relative;
    }

    &__tag {
        position: absolute;
        top: 1px;
        left: 4px;
        margin-right: 8px;
    }

    &__active {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.1);
    }

    &__searcher-active {
        border-radius: 10px 10px 0px 0px;
        max-width: 749px;
    }

    &__active-block {
        display: flex;
        max-width: 749px;
        min-height: 532px;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16), 0px 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 10px 10px;
    }

    &__filters {
        display: flex;
        flex-direction: column;
        max-width: 269px;
        width: 100%;
        padding: 16px 16px 21px 14px;
    }

    &__filter {
        max-width: 163px;
        padding: 10px 12px;
        color: #000;
        font-weight: 500;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;

    }

    &__filter:hover {
        background-color: #F7F7F7;
    }

    &__filter-active {
        background-color: #F5FFE4;
        color: #79A63B;
    }

    &__filter-settings-block {
        display: flex;
        justify-content: space-between;
        flex: 1;
        margin-top: auto;
        align-items: flex-end;
    }

    &__filter-add {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__filter-add-title {
        font-weight: 500;
        font-size: 14px;
        color: #E30016;
        margin-left: 9px;
    }
    &__filter-add-title:hover{
      color:#841F1C;
    }

    &__filter-settings-image {
        cursor: pointer;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        max-width: 480px;
        width: 100%;
        padding: 16px 20px 20px 12px;
        background-color: #F7F7F7;
        border-radius: 0px 0px 10px 0px;
    }

    &__field {
        margin-bottom: 20px;
    }

    &__field-title {
        padding-left: 26px;
    }

    &__field-content {
        display: flex;
        align-items: center;
    }

    &__field-selector {
        width: 422px;
        height: 46px;
        padding: 12px 14px;
        border: 1px solid #EBEBEB;
        border-radius: 8px;
    }

    &__add-controller {
        display: flex;
        font-size: 14px;
        gap: 16px;
        padding-left: 25px;
    }

    &__field-cancel {
        color: #ACACAC;
        cursor: pointer;
    }

    &__field-add {
        color: #E30016;
        cursor: pointer;
    }
    &__field-add:hover{
        color: #841F1C;
    }

    &__save-buttons {
        display: flex;
        margin-top: auto;
        justify-content: flex-end;
    }

    &__save-button {
        width: 123px;
        justify-content: center;
        padding: 0;
        margin-right: 8px;
    }

    &__form-status {
        position: relative;
    }

    &__form-status-tag-first {
        position: absolute;
        top: 1px;
        left: 4px;
    }

    &__form-status-tag-second {
        position: absolute;
        top: 1px;
        left: 184px;
    }

}

.chapter-title {
    text-transform: uppercase;
    font-size: 12px;
    color: #ACACAC;
    font-weight: 500;
    letter-spacing: 0.15em;
    line-height: 15px;
    margin-bottom: 10px;
}